.single-recipe {
    padding: 30px;
    @media screen and (min-width: 768px){
        padding: 30px 50px 30px 50px;
    }        
}
@media screen and (max-width: 768px) {
    .row {
        flex-direction: column-reverse;
    }
}
.btn-link{
    margin-top: 15px;
}
.btn-back {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(55, 66, 66);
    border-radius: 8%;
    font-size: 1rem;
    color: rgb(55, 66, 66);
    width: 150px;
    height: 45px;
    text-align: center;
    padding: 10px;
    &:hover {
        background-color: rgb(197, 209, 209);
        border-color: rgb(197, 209, 209);
        width: 160px
    }
}
